.info-box {
    border-radius: .25rem;
    box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
    background: #fff;
    display: flex;
    min-height: 80px;
    padding: .5rem;
    position: relative;
    margin-bottom: 1rem;
}

.info-box-icon {
    border-radius: .25rem;
    width: 70px;
    text-align: center;
    font-size: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-box-content {
    flex: 1;
    padding: 5px 10px;
}

.info-box-text {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.info-box-number {
    display: block;
    font-weight: 700;
}