.info-box {
    border-radius: .25rem;
    background-color: #f1f3f6;
    box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.3);
    display: flex;
    min-height: 80px;
    padding: .5rem;
    position: relative;
    margin-bottom: 1rem;
}

.info-box-icon {
    border-radius: .25rem;
    width: 70px;
    text-align: center;
    font-size: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-box-content {
    flex: 1;
    padding: 5px 10px;
}

.info-box-text {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.info-box-number {
    display: block;
    font-weight: 700;
}