body {
    /* background-color: #f1f3f6; */
}

.card {
    background-color: #f1f3f6 !important;
    box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.3);
    border: none !important;
    transition: 5s;
}

.card-wrapper {
    min-height: 50vh;
}